;; Analyzed by ClojureScript 1.8.51
{:name thesis.map, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {core thesis.map.core, thesis.map.core thesis.map.core}, :imports nil}