h1.ext-h1 {
  color: white;
  font-family: "Source Code Pro" !important;
  font-weight: 300;
  margin: 10px 10px;
}
#ext-space:hover {
  transform:scale(1.2,1.2);
}
#ext-canvas, #ext-space {
  height: 100px;
  width: 100px;
  transition: all 0.5s ease-in-out;
}
#ext-space canvas {
  pointer-events: none;
}
#ext-canvas-container {
  /*z-index: 214748364 !important;*/
}
#ext-canvas-container a, #ext-canvas-container h1, #ext-canvas-container p {
  font-family: "Source Code Pro" !important;
  color: white !important;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  line-height: "normal";
	vertical-align: baseline;
  text-transform: none;
}
#ext-canvas-conatiner > div.satellite {
  transition: all 0.5s ease-out;
  transform-origin: left center;
}
#ext-canvas-container > div.satellite:hover {
  transition: all 0.5s ease-out;
  transform-origin: left center;
  transform: scale(1.1,1.1);
}
#ext-canvas-container a {
  line-height: "auto" !important;
}
#ext-canvas-container p {
  font-size: 16px !important;
  line-height: 18px !important;
  font-style: "italic" !important;
}
#ext-canvas-container {
/*background-image: radial-gradient(farthest-corner at 50% 50% , #051e2e 0%, #062538 1000%);*/
  /*background-color: "rgba(100,100,100,1) !important";*/
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  /*background-color: #051e2e;*/
  background-color: #000;
  z-index:1000000091 !important;
  transition: all 0.2s ease-in-out;
  font-family: "Source Code Pro" !important;
  overflow-y: scroll
}
#ext-screenshot {
}
#ext-indicator, #ext-indicator-con {
  z-index:1000000091 !important;
}
/*h1 > span {font-size: 16px}*/
