h1.ext-h1 {
  color: white;
  font-family: "Source Code Pro" !important;
  font-weight: 300;
  margin: 10px 10px;
}
#ext-space:hover {
  transform:scale(1.2,1.2);
}
#ext-canvas, #ext-space {
  height: 100px;
  width: 100px;
  transition: all 0.5s ease-in-out;
}
#ext-space canvas {
  pointer-events: none;
}
#ext-canvas-container {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #051e2e;
  z-index:1000000091 !important;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll
}
#ext-screenshot {
  pointer-events: none;
}
