;; Analyzed by ClojureScript 1.8.51
{:name thesis.background, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {core thesis.background.core, thesis.background.core thesis.background.core}, :imports nil}