.textmarker {
  display:inline;
  background-size: 200% auto;
  -webkit-background-size: 200% auto;
  -moz-background-size: 200% auto;
  background-position: 100% 0;
  padding: 10px 10px 10px 0px ;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255,0,0,0.9) 50%);
  transition: background-position 0.5s ease-in-out;
}
#indicator-container {
  z-index:1000000091 !important;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}
#indicator-container:hover {
  transform: scale(1.5,1.5);
  transition: all 0.3s ease-out;
}
#indicator-container:hover{
  opacity:1;
  transition: all 0.3s ease-in-out;
}
#ext-canvas-container {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #051e2e;
  z-index:1000000091 !important;
  transition: all 0.5s ease-in-out;
}
#ext-canvas-container.move-left {
  left: -100%;
  transition: left 0.5s ease-in-out;
}
#ext-canvas-container.move-down {
  top: 100%;
  transition: top 0.5s ease-in-out;
}
#ext-image {
  position:absolute;
  top: 0px;
  left: 0px;
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 1000000;
}
#top-space {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: -100%;
  background-color: #051e2e;
  z-index:1000000091 !important;
  transition: top 0.5s ease-in-out;
}
#top-space.move-down {
  top:0;
  transition: top 0.5s ease-in-out;
}
#rightright-space {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 200%;
  overflow-y:scroll;
  top: 0;
  background-color: #051e2e;
  background-repeat: none;
  z-index:1000000091 !important;
  transition: all 0.5s ease-in-out;
}
#right-space.move-left {
  left: 0;
}
#right-space.move-left-left {
  left: -100%;
}
#right-space {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 100%;
  top: 0;
  background-color: #051e2e;
  background-repeat: none;
  z-index:1000000091 !important;
  transition: all 0.5s ease-in-out;
}
#rightright-space.move-left {
  left: 100%;
}
#rightright-space.move-left-left {
  left: 0;
}
.ext-canvas {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0;
  background-color: white;
  transform: perspective(400px);
  z-index: 1000000;
}
#ext-ptCanvas, #space{
  position: absolute;
  left: 0px;
  top: 0px;
}
#ext-canvas {
  z-index: 1000000092;
}

.ext-canvas-hide {
  transform: scale(0.2);
  opacity: 0;
  transition: all 0.5s ease-out;
}
.ext-canvas-slide {
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes ext-canvas-slide  {
  to {
    transform: scale3d(.2, .3, .3) translate3d(-2000px, 160px, 0) perspective(1000px) rotate3d(0, 1, 0, 20deg);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

}
.ext-canvas-slide {
  -webkit-animation-name: ext-canvas-slide;
  animation-name: ext-canvas-slide;
}
.typed-cursor{
    background-color:transparent !important;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/* animated cursor */
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
