;; Analyzed by ClojureScript 1.8.51
{:use-macros nil, :excludes #{}, :name chromex.support, :imports nil, :requires {goog.object goog.object}, :uses nil, :defs {prepare-final-args-array {:protocol-inline nil, :meta {:file "/Users/jacob/Desktop/thesis-cljs/resources/unpacked/compiled/popup/chromex/support.cljs", :line 4, :column 7, :end-line 4, :end-column 31, :arglists (quote ([arg-descriptors api]))}, :name chromex.support/prepare-final-args-array, :variadic false, :file "resources/unpacked/compiled/popup/chromex/support.cljs", :end-column 31, :method-params ([arg-descriptors api]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 2, :fn-var true, :arglists (quote ([arg-descriptors api]))}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:omit}, :order [:omit]}, :doc nil}