;; Analyzed by ClojureScript 1.8.51
{:name thesis.content-script.subs, :doc nil, :excludes #{}, :use-macros {log chromex.logging, reaction reagent.ratom}, :require-macros {reagent.ratom reagent.ratom, chromex.logging chromex.logging}, :uses {register-sub re-frame.core, split clojure.string}, :requires {re-frame.core re-frame.core, clojure.string clojure.string, chromex.logging chromex.logging}, :imports nil, :cljs.analyzer/constants {:seen #{:align? :tab-url :dim :img-data :has-info? :img-pos :img-scale :left-padding :count :show-text? :in-data :data}, :order [:count :data :has-info? :tab-url :in-data :img-data :img-pos :img-scale :show-text? :align? :dim :left-padding]}}